<section class="letter_block">
    <div class="letter_dream_image"><img src="img/dream.svg" alt="dream"></div>
    <div class="letter_dream_dogo">
        <div class="shadow-point shadow-point_1"></div>
        <div class="shadow-point shadow-point_2"></div>
        <img src="img/dogo.svg" alt="dogo">
    </div>
    <div class="letter_dream_hands"><img src="img/hands_dogo.png" alt="dogo hands"></div>
    <div class="letter_page">
        <p class="letter_text">
            Dear Elon,<br><br>

I have always wanted to visit the moon, but never had a chance to. Please, please, let the Prophecy come true 
and send me to the Moon this Lunar New Year.<br><br>

Yours much wowfully,<br><br>
Doge
        </p>
        <img id="crypto" name="crypto" src="img/letter_mark.png" alt="mark">
    </div>
</section>