<section class="rocket_section">
    <div class="rocket_star">
        <div class="rocket_dogo_star">
            <img src="img/start.svg" alt="doge star">
            <div class="light_point light_point_1"></div>
            <div class="light_point light_point_2"></div>
            <div class="light_point light_point_3"></div>
            <div class="light_point light_point_4"></div>
            <div class="light_point light_point_5"></div>
            <div class="light_point light_point_6"></div>
            <div class="light_point light_point_7"></div>
            <div class="light_point light_point_8"></div>
        </div>
        <h4 class="hashtag_dogo">#dogetop5</h4>
        <div class="dogo_rocket"><img src="img/rocket.png" alt=""></div>
    </div>
    <div class="rocket_prophecy">
        <h5>Prophecy</h5>
        <p>On a mirror date that would coincide with the Lunar New Year, Dogecoin shall blast through its 
            All Time High and return to its 
            true place among Top 5 Cryptocurrencies. It will bring good luck to Dogecoin holders and their families after the hardships of the previous year and will bring relief, peace and prosperity to all. The more Dogecoins a person will own, the more good luck they and their
            families will receive.</p>
    </div>
    <div class="rocket_info-text">
        <h5>Why Dogecoin</h5>
        <p>Dogecoin has been in place since 2013 and has no team, no government, no control and no special technology behind it, only pure belief in memes and thepower of people. Dogecoin is the people’s coin! Much wow!</p>
    </div>
    <div class="rocket_block-lamps">
        <img class="rocket_lamp rocket_lamp-1" src="img/lamp.svg" alt="lamp">
        <img class="rocket_lamp rocket_lamp-2" src="img/lamp.svg" alt="lamp">
        <img class="rocket_lamp rocket_lamp-3" src="img/lamp.svg" alt="lamp">
        <img class="rocket_lamp rocket_lamp-4" src="img/lamp.svg" alt="lamp">
        <img class="rocket_lamp rocket_lamp-5" src="img/lamp.svg" alt="lamp">
    </div>
</section>