<section class="support_section">
    <h3>How can we all help besides buying Dogecoin?</h3>
    <p>Let’s support Dogecoin and earn Dogecoins as Bounty Reward! Let’s spread the Doge love!</p>
    <button class="bounty_btn"><img src="img/dogo_coin.png" alt="dogo coin">Let's Join bounty campaign</button>
    <p>Let’s invite our friends and collect rewards now! Bring more people to the Dogecoin family! Bounty Campaign for Dogecoin will reward for social media postings, blogs, videos, memes, songs and any other contributions. Your friend’s friends also bring reward to you.</p>
    <a href="">Terms and Conditions</a>
</section>