@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@include font-face("MuseoSansCyrl", "fonts/MuseoSans/MuseoSansCyrl_100-webfont", ("eot", "woff2", "woff", "ttf", "svg")) {
  font-style: normal;
  font-weight: 100;
}

@include font-face("MuseoSansCyrl", "fonts/MuseoSans/MuseoSansCyrl_300-webfont", ("eot", "woff2", "woff", "ttf", "svg")) {
  font-style: normal;
  font-weight: 300;
}

@include font-face("MuseoSansCyrl", "fonts/MuseoSans/MuseoSansCyrl_500-webfont", ("eot", "woff2", "woff", "ttf", "svg")) {
  font-style: normal;
  font-weight: 500;
}

@include font-face("MuseoSansCyrl", "fonts/MuseoSans/MuseoSansCyrl_700-webfont", ("eot", "woff2", "woff", "ttf", "svg")) {
  font-style: normal;
  font-weight: 700;
}

@include font-face("MuseoSansCyrl", "fonts/MuseoSans/MuseoSansCyrl_900-webfont", ("eot", "woff2", "woff", "ttf", "svg")) {
  font-style: normal;
  font-weight: 900;
}

@include font-face("icomoon", "fonts/icomoon/icomoon", ("eot", "woff", "ttf", "svg"));  