<header class="header">
  <div class="header_landuage">
    <h5>Language</h5>
    <div class="language_block">
      <div class="language_header">
        <img src="img/flag_UK.jpg" alt="">
        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 7.33301L0.937822 0.333008L13.0622 0.333008L7 7.33301Z" fill="white"/>
        </svg>          
      </div>
      <div class="language_list">
        <a href=""><img src="img/flag_UK.jpg" alt=""></a>
        <a href=""><img src="img/flag_China.jpg" alt=""></a>
        <a href=""><img src="img/flag_Korea.jpg" alt=""></a>
      </div>
    </div>
  </div>
  <div class="header_wrapper">
    <div class="header_info">
      <p>12 02</p>
      <img src="img/dogo_coin.png" alt="">
      <p>2021</p>
    </div>
    <p class="header_hashtag">#dogetop5</p>
  </div>
</header>